.contents
  .user_show
    マイページ
    .user_name
      Name ：
      = current_user.name
    .user_email
      Email :
      = current_user.email
      -# ユーザーの編集画面へ偏移できるLink追加
    
  .content_show 
    このアプリの説明
    .content_info
      %h1 3行ポジィティブ日記
      %p 毎日、今日あったポジティブなことを3つ書き出そう。そして、今日の気分を5つのフェイスマークから選んで記録しよう！選んだフェイスマークは、グラフ化されて日々の気分の波がわかります。
      -# 詳しい説明と画像
