* {
  box-sizing: border-box;
}
.contents {
  background-color: seashell;
  overflow: hidden;
  padding-top: 20px;
  height: calc(100vh - 120px);
  overflow: scroll;
  // position: relative;
  .message_main {
  color: #d37b33;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  }
  .message_none {
    margin-top: 40px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    .img {
      width: 90vw;
    }
  }
  .user_nav_message {
    color:#d37b33;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    // position: absolute;
    // top: 270px;
    // left: 150px;
  }
  .user_nav.grid-8 {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    color:#d37b33;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin: 40px;
    .user_nav_image {
      width: 90vw;
      position: relative;
      .img {
        width: 90%;
        height: 70%;
      }
      .user_nav_message {
        // width: 600px;
        position: absolute;
        top: 150px;
        left: 90px;
      }
    }
  }
  .contents__post {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: calc(100vw - 30vw);
    // height: calc(100vh - 50vh);
    background-color:	white;
    border-radius: 10px;
    padding: 1px;
    border: 1px solid #99FF66;
    ul.text_list {
      li {
        color: rgba(0, 0, 0, 0.8);
        padding: 5px 10px;
        text-decoration: underline wavy lightgreen;
      }
    }
    .message_info {
      display: flex;
      .message_time {
        margin: 4px 10px;
        padding: 3px 5px;
        height: calc(50vh - 45vh);
        font-size: 20px;
        color: sandybrown;
      }
      .message_image {
        margin-left: 100px;
      }
    }
  }
}