.contents__form {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 70vw;
  border-radius: 7px;
  .form_box {
    .form_field {
      margin: 10px;
      padding-top:10px;
      color: lightgray;
      font-size: 20px;
      .message_text {
        border: 1px solid #99FF66;
        width: calc(70vw - 20px);
        margin-bottom:5px;
        padding:5px;
        border-radius: 5px;
      } 
    }
  }
  .facemarc {
    margin: 20px 0;
    .select_form {
      display: flex;
      justify-content: center;
      color: skyblue;
      font-size: 20px;
      .select_box {
        display: flex;
        margin: 0 20px;
        .form_img {
          margin: 0 10px;
        }
      }
    }
    ul.facemarc_list {
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
      li {
        opacity: 0.8;
        width: 85px;
        text-align: center;
      }
      li:hover {
        opacity: 1;
      }
    }
  }  
  .form_submit {
    display: flex;
    justify-content: center;
    .submit {
      margin-top: 10px;
      width: 500px;
      height: 40px;
      font-size: 22px;
      font-weight: bold;
      background-color: white;
      border: 3px solid skyblue;
      color: skyblue;
      border-radius: 10px;
    }
  }
}